---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Card from '../components/Card.astro';
---

<Layout title="Porfolio PandaCode">
	
<section class="w-full mx-auto lg:w-[740px] py-44">
	<img class="rounded-full w-24 h-24" src="https://as1.ftcdn.net/v2/jpg/09/30/53/54/1000_F_930535455_j3lOavti91vYb0sRFeoHactlddKt8PhS.jpg" alt="Logo Portfolio">
	<h1  class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">Hola soy PandaCode 
	 <a href="" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
	<h2 class="text-white text-2xl text-wrap"> <span class="text-purple-400">Me llamo Said Alfredo.</span> Programador Junior. Desarrollador Web. <span class="text-purple-500">Morelia, Mexico </span>Aprendiendo cada dia. 💻</h2>
</section>
	
</Layout>

