---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Social from "../components/Social.astro";
import LinkedInIcon from "../components/icons/Linkedin.astro";
import GithubIcon from "../components/icons/Github.astro";
import PhpIcon from "../components/icons/Php.astro";
import JavaIcon from "../components/icons/JavaScript.astro";
import MySQLIcon from "../components/icons/MySQL.astro";
import AstroIcon from "../components/icons/Astro.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";
import NextJSIcon from "../components/icons/NextJs.astro";
import ReactIcon from "../components/icons/React.astro";
---

<Layout
  title="Porfolio PandaCode - Desarollador y programador web"
  description="Buscas realizar tu proyecto, contactame. Desarollador web"
>
  <section class="w-full mx-auto lg:w-[1224px] pt-20 pb-2">
    <div class="grid grid-cols-4 grid-rows-3 gap-2">
      <div class="bg-black/10 rounded-lg col-span-2 row-span-2 p-7">
        <h1
          class="bg-gradient-to-r from-indigo-300 via-purple-500 to-pink-500 bg-clip-text text-transparent text-6xl font-extrabold flex flex-row gap-x-4"
        >
          Said Alfredo
          <a
            href=""
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
            ><Badge>Disponible para trabajar</Badge></a
          >
        </h1>
        <p class="text-pink-500 opacity-100 pt-4 text-2xl">
          Desarrollador Full Stack <div class="flex w-96"></div>
        </p>
        <p class="text-white text-sm pt-4 pr-16">
          Trabajo bajo el nombre de PandaCode. Mexicano. Aprendiendo cada dia,
          me mantengo en constante aprendizaje para aumentar mi capacidad de
          resolver problemas. 💻 
        </p>
        <div class="mt-6 w-40 ml-96 justify-end">
          <Social href="">
            <p class="text-xs">Descargar CV</p>
          </Social>
        </div>
      </div>
      <div class="bg-black/10 row-span-2 col-start-3 rounded-lg p-7 flex">
        <img
          class="mx-auto my-auto"
          src="https://cdn3d.iconscout.com/3d/premium/thumb/panic-panda-3d-emoji-download-in-png-blend-fbx-gltf-file-formats--animal-face-stressed-pack-sign-symbols-emojis-4127201.png?f=webp"
          alt="Logo Portfolio"
        />
      </div>
      <div
        class="bg-black/10 rounded-lg col-start-4 flex flex-col justify-center"
      >
        <div class="flex mx-auto my-auto w-20">
          <img
            class="rounded-full"
            src="https://i.gifer.com/2GU.gif"
            alt="Perfil Foto"
          />
        </div>
        <div class="flex justify-center z-10 mx-auto">
          <div class="flex gap-2 text-xs mb-2">
            <Social href="">
              <LinkedInIcon class="size-4" />
              LinkedIn
            </Social>

            <Social href="">
              <GithubIcon class="size-4" />
              Github
            </Social>
          </div>
        </div>
      </div>
      <div
        class="bg-black/10 relative rounded-lg row-span-2 col-start-4 row-start-2"
      >
        <img
          class="rounded-lg size-full object-cover"
          src="https://i.gifer.com/3ZTz.gif"
          alt=""
        />
      </div>

      <div
        class="bg-black/10 rounded-lg col-start-1 row-start-3 flex items-center justify-center"
      >
        <img
          class="w-14 rounded-sm mr-2"
          src="https://w7.pngwing.com/pngs/56/96/png-transparent-flag-of-mexico-flag-of-mexico-united-states-mexican-war-of-independence-mexican-flag-s-free-flag-text-logo-thumbnail.png"
          alt=""
        />
        <h1
          class="bg-gradient-to-r from-pink-400 to-pink-600 bg-clip-text text-transparent text-3xl font-bold"
        >
          México
        </h1>
      </div>
    </div>
  </section>

  <section class="w-full mx-auto lg:w-[1224px] ">
    <div class="bg-black/10 rounded-lg col-span-2 col-start-2 row-start-3 p-7">
      <p
        class="bg-gradient-to-r from-pink-400 to-pink-600 bg-clip-text text-transparent text-xl font-bold"
      >
        Tecnologías
        <section class="">
          <div class="py-8 mx-auto max-w-screen-xl px-4">
            <div
              class="grid justify-items-center grid-cols-2 gap-8 text-gray-300 sm:gap-12 md:grid-cols-3 lg:grid-cols-7 dark:text-gray-400"
            >
              <PhpIcon class="size-10" />

              <JavaIcon class="size-8" />

              <MySQLIcon class="size-10" />

              <AstroIcon class="size-10" />

              <TailwindIcon class="size-10" />

              <NextJSIcon class="size-10" />

              <ReactIcon class="size-10" />
            </div>
          </div>
        </section>
      </p>
    </div>
  </section>
</Layout>
