---
import Social from "../components/Social.astro";
import GithubIcon from "../components/icons/Github.astro";
---

<div class="p-3">
  <h4
    class="bg-gradient-to-r from-indigo-200 via-purple-500 to-pink-500 bg-clip-text text-transparent text-xl font-extrabold flex flex-row gap-x-4 h-20"
  >
    Hola, soy Said Alfredo Peña Nava
  </h4>

  <p class="text-gray-300 text-base">
    Originario de <b class="text-pink-400">Morelia, México.</b>
  </p>
  <p class="text-gray-300 text-base mt-3">
    Ingeniero en Sistemas del Instituto Tecnológico de Jiquilpan, y actualmente
    me desempeño como <b class="text-pink-200">Desarrollador Full Stack.</b> Aunque
    estoy en mis primeros proyectos reales, me apasiona cada nuevo desafío que enfrento,
    y me considero en constante aprendizaje.
  </p>

  <p class="text-gray-300 text-base mt-3">
    Amante de los videojuegos, los gatos y de la <b class="text-pink-200"
      >cultura japonesa</b
    >, asi como la <b class="text-pink-200">cultura coreana</b>, las cuales son
    grandes inspiracion en mis diseños y trabajos.
  </p>
  <p class="text-gray-300 text-base mt-3 mb-8">
    Mi objetivo es seguir creciendo profesionalmente y colaborar en proyectos
    innovadores que no solo resuelvan problemas, sino que también brinden valor
    a las personas. Si quieres saber más sobre mi trabajo o colaborar en algún
    proyecto, no dudes en ponerte en contacto conmigo.
  </p>
</div>
