---
import ExperienceItem from "./Experience-Item.astro";

const EXPERIENCE = [
  {
    date: "Febrero 2020 - Actual ",
    title: "Grupo Corporativo La Pequeña Garcia",
    description:
      "Empresa dedicada a la distribución de material ferretero y de construcción. Responsable del desarrollo e implementación del eCommerce corporativo y del sistema de punto de venta (POS), integrando módulos para el control total de inventarios, ventas, compras y operaciones internas. Participación activa en la optimización de procesos mediante soluciones tecnológicas personalizadas.",
  },
  {
    date: "Enero 2024 - Actual",
    title: "Full Stack Developer Freelance",
    description:
      "Desarrollo de soluciones digitales personalizadas para clientes de distintos sectores, abarcando tanto front-end como back-end. Experiencia en la creación de aplicaciones web, integración de bases de datos y mejora de la experiencia de usuario. Utilización de tecnologías como JavaScript, PHP, Vue.js y bases de datos SQL para entregar proyectos completos, escalables y funcionales.",
  },
  {
    date: "Enero 2019 - Julio 2019",
    title: "Escuela Municipal de Idiomas y Computacion Sahuayo",
    description:
      "Primera experiencia laboral durante servicio social. Apoyo en la actualización y mantenimiento del sitio web institucional, asegurando su correcto funcionamiento y mejorando aspectos básicos de diseño y usabilidad.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-8 ms-7">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
