---
import ExperienceItem from "./Experience-Item.astro";

const EXPERIENCE = [
  {
    date: "Febrero 2020 - Actualmente ",
    title: "Grupo Corporativo La Pequeña Garcia",
    description:
      "Empresa dedicada a la distribuicion en mayoreo de material ferretero y material de construccion. Encargado del desarollo del ecommerce, asi como el desarrollo del punto de venta donde se lleva el control total de todas las operaciones que se realizan en la empresa. ",
  },
  {
    date: "Enero 2024 - Actual",
    title: "Freelance",
    description: "Esto es una descripcion",
  },
  {
    date: "Enero 2019 - Julio 2019",
    title: "Escuela Municipal de Idiomas y Computacion Sahuayo",
    description: "Esto es una descripcion",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-7">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
