---
import HomeIcon from "../components/icons/Home.astro";
---

<header class="flex items-center py-5 w-[1120px] mx-auto">
  <nav class="flex gap-x-10 text-gray-200 opacity-80">
    <a
      href="#home"
      class="transition-all ease-in-out duration-300 hover:text-purple-500 p-2"
      ><HomeIcon class="size-6" /></a
    >
    <a
      href="#sobre-mi"
      class="transition-all ease-in-out duration-500 hover:bg-violet-800 hover:text-white p-2"
    >
      &lt; / Sobre Mi &gt;
    </a>
    <a
      href="#proyectos"
      class="transition-all ease-in-out duration-300 hover:bg-violet-800 hover:text-white p-2"
    >
      &lt; / Proyectos &gt;
    </a>
    <a
      href="#contacto"
      class="transition-all ease-in-out duration-300 hover:bg-violet-800 hover:text-white p-2"
    >
      &lt; / Contacto &gt;
    </a>
  </nav>
</header>
