<a
  class="text-white rounded-full border border-gray-500/10 flex justify-center items-center gap-x-2 py-2 px-2 bg-gray-800 hover:scale-105 hover:bg-gray-950 duration-300"
  {...Astro.props}
  target="_blank"
>
  <slot />
</a>
